@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  color: var(--color-white);
}
* {
  box-sizing: border-box;
}
:root {
  --gap: 30px;
  --color-white: #fff;
  --color-gray: #999999;
  --color-black: #333333;
  --background-black: #1a1a1a;
  --background-light-gray: #e5e5e5;
  --background-light-blue: #673ab7;
  --background-gray-black: #4d4d4d;
  --color-light-gray: #e5e5e5;
  --background-drak-blue: #4e347c;
  --background-white: #fff;
  --background-light-black: #252525;
  --color-gray-border: #828282;
  --font-body: 'Roboto Condensed', sans-serif;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.section{
  padding: 80px 0;
}

/* heading */

.heading-16 {
  font-size: 16px;
  line-height: 1.5;
  /* line-height: 24px; */
}
.heading-18 {
  font-size: 18px;
  line-height: 1.3;
  /* line-height: 24px; */
}
.heading-32 {
  font-size: 32px;
  line-height: 1.5;
  /* line-height: 48px; */
}
.heading-30{
    font-size: 30px;
    line-height: 1.6;
    /* line-height: 48px; */
}

/* button */
.border-50 {
  border-radius: 50px;
}
.button-nomarl {
  border-radius: 50px;
  border: none;
  color: var(--color-white);
  background: none;
}
.button-hover:hover {
  background-color: var(--background-light-blue);
  transition: 0.5s;
  color: var(--color-white);
}

/* active */
.activeTab {
  background-color: var(--background-light-blue);
  color: var(--color-white) !important;
}

.activeslicce {
  background-color: var(--background-light-blue);
}
.slick-dots li{
    top: 40px;
    background: none;
    border-radius: 50px;
    border: 2px solid var(--background-white);
}
.slick-dots li button{
    border-radius: 50px;
    width: 0 !important;
    height: 0 !important;
    top: 40px;
    /* position: relative; */
}
.slick-dots li button:before {
    font-size: 0 !important;
    width: 10px !important;
    height: 10px !important;
    background-color: var(--background-white);
    opacity: 1 !important;
    border-radius: 50px;
    top: 3px !important;
    left: 3px !important;
}
li.slick-active{
    border: 2px solid var(--background-light-blue) !important;
}
li.slick-active button::before{
    background-color: var(--background-light-blue);
}
/* header */

/* main */

/* section product detai */
.section-product__wrap {
  background-color: var(--background-black);

}
.detail-media__main {
  flex: 1;
}
.media-main__img {
  object-fit: cover;
  aspect-ratio: 1;
}
.scroll-snap__list {
  scroll-snap-type: x mandatory;
  overflow: auto;
}
.scroll-snap__list::-webkit-scrollbar {
  height: 0;
}
.scroll-snap__item {
  scroll-snap-align: center;
}
.media-sub__img {
  width: 90px;
  height: 90px;
}
.detail-item-text {
}
.detail-heading__sub {
  font-size: 14px;
  line-height: 1.7;
}

.detail-title {
  font-size: 36px;
  line-height: 1.3;
  margin: 16px 0;
}
.detail-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
}
.detail-desc {
  color: var(--color-gray);
  margin: 24px 0;
}
.media-prize__item {
  height: 82px;
}
.prize-w-full {
  width: 152px;
}
.prize-w-smal {
  width: 82px;
}
.item-strength {
  border-bottom: 1px solid var(--color-light-gray);
  padding-bottom: 30px;
  margin-top: 24px;
}
.icon-strength {
  width: 16px;
  height: 16px;
}
.item-strength__text {
  margin-left: 16px;
}
.form-detail {
  margin-top: 30px;
  gap: 9px;
}
.btn-submit__form {
  padding: 13px 10px;
  background-color: var(--background-light-blue);
}

.btn-dec,
.btn-inc {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: var(--background-gray-black);
}
.btn-img__min,.btn-img__plus{
  width: 16px;
  height: 16px;
  margin: 0 auto;
}
.input-change {
  width: 80px;
  height: 50px;
  margin: 0px 8px;
  outline: none;
  border: none;
  background: none;
  color: var(--color-white);
  border: 1px solid var(--background-gray-black);
}

.section-description__wrap {
  background-color: var(--background-black);
}
.select-button__list {
}
.select-btn__item {
  padding: 15px;
  color: var(--color-gray);
}
.description-item {
  padding: 40px 0;
}
.text-item {
  font-size: 16px;
  line-height: 2;
}
.item-overview {
  gap: 67px;
}
.item-specifications {
}
.table-specifications {
  border-collapse: collapse;
}
.specifications-row:nth-child(odd) {
  background-color: var(--background-light-gray);
  color: var(--color-black);
}
.specifications-row:nth-child(even) {
  background-color: var(--background-white);
  color: var(--color-black);
}
.specifications-col {
  padding: 10px 10px;
}
.specifications-row,
.specifications-col {
  border: 1px solid var(--color-gray-border);
}
.feature-list {
  gap: 30px 0;
}
.card-feature {
  background-color: var(--background-white);
  color: var(--color-black);
  padding: 30px;
}
.card-media {
  width: 36px;
  height: 36px;
}
.card-feature__title {
  margin-bottom: 8px;
}
.item-shot__cannon {
  column-count: 1;
}
.shot-item {
  margin-bottom: 15px;
  /* display: inline-block; */
}

.section-customer__wrap {
  background: url(../image/background/bg-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.customer-review {
  margin-top: 56px;
}
.card-customer__review {
  background-color: var(--background-white);
  padding: 40px 9px 40px 40px;
  color: var(--color-black);
}

.card-img__item {
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.card-media__name {
  margin-bottom: 8px;
}
.card-media__name,
.card-media__position {
  font-size: 16px;
  line-height: 1.1;
}
.card-media__position {
  color: var(--color-gray);
  margin-top: 8px;
}

.star-item__img {
  width: 16px;
  height: 16px;
}
.card-list__star {
  gap: 5px;
}

.colection-wrap{
    background-color: var(--background-black);
}
.card-first{
    background: url(../image/background/bg-2.png) top center / cover no-repeat;
    padding: 90px 55px;
}
.card-colection__btn{
    padding: 13px 0;
    background-color: var(--background-light-blue);
}
.section-related__wrap{
    background-color: var(--background-light-black);
}
.related-list{
    margin-top: 56px;
}
.card-media__colection{
    object-fit: cover;
    aspect-ratio: 1;
}

/* footer */

/* responsive */
@media (min-width: 576px) {
  .media-main__img {
    object-fit: cover;
  }
  .select-button__list {
    justify-content: center;
  }
  .item-shot__cannon {
    column-count: 2;
  }
  .btn-submit__form{
    padding: 13px 40px;
  }
}

@media (min-width: 768px) {
    .section-product__wrap ,.section-customer__wrap,.colection-wrap ,.section-related__wrap{
        padding-top: 120px;
        padding-bottom: 100px;
    }
  .table-specifications {
    max-width: 570px;
    margin: 0 auto;
  }
  .item-shot__cannon {
    column-count: 3;
  }
  .description-item{
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .card-first{
    padding: 90px 18px;
    max-height: 423px;
  }
}

@media (min-width: 922px) {
}

@media (min-width: 1200px) {
}
